/* CSS Document */

/*********/
/* FONTS */
/*********/
/* @font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
 */




/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-main:#ec2227;
	--color-background:#eee;
	--color-accent:rgb(0, 0, 0);
}

@media (prefers-color-scheme: light) {
	:root {
		--color-main:#eee;
		--color-background:#ec2227;
		--color-accent:rgb(0, 0, 0);
	}
}




/****************/
/* JOUW STYLING */
/****************/
body {
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 	color:var(--color-main);
  	background-color:var(--color-background);
}

h1 {
	letter-spacing: -.21em;
	font-size: clamp(5.5em, 20vw, 7em);
}

span {
	display: inline-block;
}

ul {
	list-style-type: none;
	position: absolute;
}

li {
	background-color: var(--color-main);
}

/* crumbs styling/positioning */
li:nth-of-type(1) {
	width: 4px;
	height: 5px;
	border-radius: 6px;

	position: absolute;
	top:-1.3em;
	right: -.9em;

	visibility: hidden;
}

li:nth-of-type(2) {
	width: 3px;
	height: 4px;
	border-radius: 4px;

	position: absolute;
	top:-1.2em;
	right: -.93em;

	visibility: hidden;
}

li:nth-of-type(3) { 
	width: 3px;
	height: 3px;
	border-radius: 4.5px;

	position: absolute;
	top:-1.15em;
	right: -1em;

	visibility: hidden;
}

li:nth-of-type(4) { 
	width: 3px;
	height: 3.5px;
	border-radius: 4px;

	position: absolute;
	top:-1.14em;
	right: -.9em;

	visibility: hidden;
}

li:nth-of-type(5) { 
	width: 1.5px;
	height: 1.5px;
	border-radius: 4px;

	position: absolute;
	top:-1.1em;
	right: -.9em;

	visibility: hidden;
}

li:nth-of-type(6) { 
	width: 4px;
	height: 3.5px;
	border-radius: 4px;

	position: absolute;
	top:-1.05em;
	right: -.9em;

	visibility: hidden;
}

li:nth-of-type(7) { 
	width: 2px;
	height: 2px;
	border-radius: 4px;

	position: absolute;
	top:-1.04em;
	right: -.95em;

	visibility: hidden;
}

/* animation for crumbs when kit breaks apart from kat */
h1:hover li:nth-of-type(1) {
	animation-name: crumbs-1;
	animation-duration: .1s;
	animation-fill-mode:forwards;
}

h1:hover li:nth-of-type(2) {
	animation-name: crumbs-1;
	animation-duration: .1s;
	animation-delay:.09s;
	animation-fill-mode:forwards;
}

h1:hover li:nth-of-type(3) {
	animation-name: crumbs-1;
	animation-duration: .1s;
	animation-delay:.15s;
	animation-fill-mode:forwards;
}

h1:hover li:nth-of-type(4) {
	animation-name: crumbs-1;
	animation-duration: .1s;
	animation-delay:.2s;
	animation-fill-mode:forwards;
}

h1:hover li:nth-of-type(5) {
	animation-name: crumbs-1;
	animation-duration: .1s;
	animation-delay:.23s;
	animation-fill-mode:forwards;
}

h1:hover li:nth-of-type(6) {
	animation-name: crumbs-1;
	animation-duration: .1s;
	animation-delay:.25s;
	animation-fill-mode:forwards;
}

h1:hover li:nth-of-type(7) {
	animation-name: crumbs-1;
	animation-duration: .1s;
	animation-delay:.27s;
	animation-fill-mode:forwards;
}

@keyframes crumbs-1 {
	0%{
		visibility: hidden;
	}

	100%{
		visibility: visible;
	}
}

/* eerste animatie --> breakapart t and K */
h1:hover span:nth-of-type(3) {
	animation-name:breakapart-t, rotate-t;
	animation-duration:.1s;
	animation-fill-mode: forwards;
}

h1:hover span:nth-of-type(4) {
	animation-name:breakapart-k2, rotate-k2;
	animation-duration:.1s;
	animation-fill-mode: forwards;
}

@keyframes breakapart-t {
	0% {
		clip-path: polygon(0 0, 200% 0, 200% 200%, 0 200%)
	}
	100% {
		clip-path: polygon(160% 0, 94% 21%, 98% 35%, 160% 54%, 120% 66%, 115% 78%, 98% 90%, 160% 160%, 0 160%, 0 0);
	}
}

@keyframes breakapart-k2 {
	0% {
		clip-path: polygon(0 0, 200% 0, 200% 200%, 0 200%)
	}
	100% {
		clip-path: polygon(0 0, 160% 0, 160% 100%, 0 100%, 30% 55%, 31% 63%, 5% 50%, 28% 35%, 15% 25%, 0 10%);
	}

}

/* first part animations to rotate KIT */
h1:hover span:nth-of-type(1) {
	animation-name:rotate-k;
	animation-duration:.1s;
	animation-fill-mode: forwards;
}

h1:hover span:nth-of-type(2) {
	animation-name:rotate-i;
	animation-duration:.1s;
	animation-fill-mode: forwards;
}

@keyframes rotate-k {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(-10deg);
		transform-origin: 200% 80%;
	}
}

@keyframes rotate-i {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(-10deg);
		transform-origin: 500% 80%;
	}
}

@keyframes rotate-t {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(-10deg);
		transform-origin: 100% 80%;
	}
}

/* animation rotate kat */
h1:hover span:nth-of-type(5) {
	animation-name:rotate-a;
	animation-duration:.1s;
	animation-fill-mode: forwards;
}

h1:hover span:nth-of-type(6) {
	animation-name:rotate-t2;
	/* animation-name:rotate-t2, bite-one; */
	animation-duration:.1s, 3s;
	animation-fill-mode: forwards;
}

@keyframes rotate-k2 {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(5deg);
		transform-origin: 200% 80%;
	}
}

@keyframes rotate-a {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(5deg);
		transform-origin: 150% 80%;
	}
}

@keyframes rotate-t2 {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(5deg);
		transform-origin: 100% 80%;
	}
}


/* second t gets eaten (first part of bites)*/
/* @keyframes bite-one {
	0% {
		clip-path: polygon(0 0, 200% 0, 200% 200%, 0 200%);
	}

	100% {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		-webkit-clip-path: polygon(100% 0, 100% 57%, 71% 57%, 62% 68%, 77% 73%, 89% 100%, 0 100%, 0 73%, 0 42%, 0 0);
	}
} */

/* first bite */
li:nth-of-type(8) {
	background-color: var(--color-background);
	width: 40px;
	height: 40px;
	border-radius: 50px;

	position: absolute;
	top:-1.78em;
	right: -2.5em;
	z-index: 1;

	visibility: hidden;
}

li:nth-of-type(9) {
	background-color: var(--color-background);
	width: 35px;
	height: 35px;
	border-radius: 50px;

	position: absolute;
	top:-2em;
	right: -2.35em;
	z-index: 1;

	visibility: hidden;
}

li:nth-of-type(10) {
	background-color: var(--color-background);
	width: 43px;
	height: 43px;
	border-radius: 50px;

	position: absolute;
	top:-1.5em;
	right: -2.6em;
	z-index: 1;

	visibility: hidden;
}
/* crumbs of bite 1 */
li:nth-of-type(17) {
	background-color: var(--color-main);
	width: 4px;
	height: 4px;
	border-radius: 50px;

	position: absolute;
	top:-1.2em;
	right: -2.3em;
	z-index: 1;

	visibility: hidden;
}

li:nth-of-type(18) {
	background-color: var(--color-main);
	width: 3px;
	height: 3px;
	border-radius: 50px;

	position: absolute;
	top:-1.15em;
	right: -2.35em;
	z-index: 1;

	visibility: hidden;
}

li:nth-of-type(19) {
	background-color: var(--color-main);
	width: 2px;
	height: 3px;
	border-radius: 50px;

	position: absolute;
	top:-1.2em;
	right: -2.4em;
	z-index: 2;

	visibility: hidden;
}

h1:hover li:nth-of-type(8), 
h1:hover li:nth-of-type(9),
h1:hover li:nth-of-type(10) {
	animation-name: bites;
	animation-duration: .1s;
	animation-delay:.8s;
	animation-fill-mode:forwards;	
}

h1:hover li:nth-of-type(17) {
	animation-name: bites;
	animation-duration: .1s;
	animation-delay:.82s;
	animation-fill-mode:forwards;	
}


h1:hover li:nth-of-type(18),
h1:hover li:nth-of-type(19) {
	animation-name: bites;
	animation-duration: .1s;
	animation-delay:.85s;
	animation-fill-mode:forwards;	
}

/* second bite */
li:nth-of-type(11) {
	background-color: var(--color-background);
	width: 40px;
	height: 40px;
	border-radius: 50px;

	position: absolute;
	top:-1.78em;
	right: -2.2em;
	z-index: 1;

	visibility: hidden;
}

li:nth-of-type(12) {
	background-color: var(--color-background);
	width: 30px;
	height: 30px;
	border-radius: 50px;

	position: absolute;
	top:-1.9em;
	right: -2em;
	z-index: 1;

	visibility: hidden;
}

li:nth-of-type(13) {
	background-color: var(--color-background);
	width: 55px;
	height: 55px;
	border-radius: 50px;

	position: absolute;
	top:-1.6em;
	right: -2.3em;
	z-index: 1;

	visibility: hidden;
}
/* crumbs of bite 2 */
li:nth-of-type(20) {
	background-color: var(--color-main);
	width: 2px;
	height: 2px;
	border-radius: 50px;

	position: absolute;
	top:-1.25em;
	right: -1.85em;
	z-index: 1;

	visibility: hidden;
}

li:nth-of-type(21) {
	background-color: var(--color-main);
	width: 2.5px;
	height: 2.5px;
	border-radius: 50px;

	position: absolute;
	top:-1.2em;
	right: -1.9em;
	z-index: 1;

	visibility: hidden;
}

li:nth-of-type(22) {
	background-color: var(--color-main);
	width: 2px;
	height: 2.5px;
	border-radius: 50px;

	position: absolute;
	top:-1.23em;
	right: -1.8em;
	z-index: 1;

	visibility: hidden;
}

li:nth-of-type(23) {
	background-color: var(--color-main);
	width: 2px;
	height: 2.5px;
	border-radius: 50px;

	position: absolute;
	top:-1.15em;
	right: -1.8em;
	z-index: 1;

	visibility: hidden;
}

h1:hover li:nth-of-type(11), 
h1:hover li:nth-of-type(12),
h1:hover li:nth-of-type(13) {
	animation-name: bites;
	animation-duration: .1s;
	animation-delay:1.3s;
	animation-fill-mode:forwards;
}

h1:hover li:nth-of-type(20), 
h1:hover li:nth-of-type(21),
h1:hover li:nth-of-type(22),
h1:hover li:nth-of-type(23) {
	animation-name: bites;
	animation-duration: .1s;
	animation-delay:1.38s;
	animation-fill-mode:forwards;
}

/* third bite */
li:nth-of-type(14) {
	background-color: var(--color-background);
	width: 55px;
	height: 55px;
	border-radius: 50px;

	position: absolute;
	top:-1.8em;
	right: -1.9em;
	z-index: 1;

	visibility: hidden;
}

li:nth-of-type(15) {
	background-color: var(--color-background);
	width: 55px;
	height: 55px;
	border-radius: 50px;

	position: absolute;
	top:-2.1em;
	right: -1.8em;
	z-index: 1;

	visibility: hidden;
}

li:nth-of-type(16) {
	background-color: var(--color-background);
	width: 60px;
	height: 60px;
	border-radius: 50px;

	position: absolute;
	top:-1.6em;
	right: -1.85em;
	z-index: 1;

	visibility: hidden;
}

li:nth-of-type(24) {
	background-color: var(--color-main);
	width: 3px;
	height: 2px;
	border-radius: 50px;

	position: absolute;
	top:-1.3em;
	right: -1.35em;
	z-index: 1;

	visibility: hidden;
}

li:nth-of-type(25) {
	background-color: var(--color-main);
	width: 2px;
	height: 2px;
	border-radius: 50px;

	position: absolute;
	top:-1.4em;
	right: -1.4em;
	z-index: 1;

	visibility: hidden;
}


h1:hover li:nth-of-type(14), 
h1:hover li:nth-of-type(15),
h1:hover li:nth-of-type(16) {
	animation-name: bites;
	animation-duration: .1s;
	animation-delay:2s;
	animation-fill-mode:forwards;
}

h1:hover li:nth-of-type(24), 
h1:hover li:nth-of-type(25) {
	animation-name: bites;
	animation-duration: .1s;
	animation-delay:2.05s;
	animation-fill-mode:forwards;
}

@keyframes bites {
	0%{
		visibility: hidden;
	}

	100%{
		visibility: visible;
	}
}